@keyframes reveal {
    0% {
        clip-path: inset(var(--start));
    }
    30% {
        clip-path: inset(var(--mid1));
    }
    60% {
        clip-path: inset(var(--mid2));
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes hide {
    0% {
        clip-path: inset(0 0 0 0);
    }
    30% {
        clip-path: inset(var(--mid2));
    }
    60% {
        clip-path: inset(var(--mid1));
    }
    100% {
        clip-path: inset(var(--start));
    }
}

.reveal-top {
    --start: 0 0 100% 0;
    --mid1: 0 0 70% 0;
    --mid2: 0 0 40% 0;
}

.hide-top {
    --start: 0 0 100% 0;
    --mid1: 0 0 70% 0;
    --mid2: 0 0 40% 0;
}

.reveal-left {
    --start: 0 100% 0 0;
    --mid1: 0 70% 0 0;
    --mid2: 0 40% 0 0;
}

.hide-left {
    --start: 0 100% 0 0;
    --mid1: 0 70% 0 0;
    --mid2: 0 40% 0 0;
}

.reveal-bottom-right {
    --start: 100% 0 0 100%;
    --mid1: 70% 0 0 70%;
    --mid2: 40% 0 0 40%;
}

.hide-bottom-right {
    --start: 100% 0 0 100%;
    --mid1: 70% 0 0 70%;
    --mid2: 40% 0 0 40%;
}

.reveal-top-left {
    --start: 0 100% 100% 0;
    --mid1: 0 70% 70% 0;
    --mid2: 0 40% 40% 0;
}

.hide-top-left {
    --start: 0 100% 100% 0;
    --mid1: 0 70% 70% 0;
    --mid2: 0 40% 40% 0;
}