/* Keyframes for Header.css */

@keyframes reveal {
    0% {
        clip-path: inset(var(--start));
        opacity: 1;
    }

    30% {
        clip-path: inset(var(--mid1));
        opacity: 1;
    }

    60% {
        clip-path: inset(var(--mid2));
        opacity: 1;
    }

    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }

    30% {
        clip-path: inset(var(--mid2));
        opacity: 1;
    }

    60% {
        clip-path: inset(var(--mid1));
        opacity: 1;
    }

    100% {
        clip-path: inset(var(--start));
        opacity: 0;
    }
}

/* Keyframes for Hero.css */

@keyframes expandWidth {
    0% {
        width: 147.64px;
    }

    50% {
        width: 220px;
    }

    70% {
        width: 215px;
    }

    100% {
        width: 217.03px;
        background-color: #3355FF;
    }
}

@keyframes contractWidth {
    0% {
        width: 217.03px;
        background-color: #3355FF;
    }

    50% {
        width: 147.64px;
    }

    70% {
        width: 145px;
    }

    80% {
        width: 148px;
    }

    100% {
        width: 147.64px;
        background-color: transparent;
    }
}

@keyframes rotateForwards {
    0% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(380deg);
    }

    70% {
        transform: rotate(355deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateBackwards {
    0% {
        transform: rotate(360deg);
        opacity: 1;
    }

    100% {
        transform: rotate(180deg);
        opacity: 0;
    }
}

/* Keyframes for AboutMe.css */

@keyframes revealHide {

    0%,
    30% {
        clip-path: inset(var(--start));
    }

    40%,
    90% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(var(--start));
    }
}